services:
  # Servidor gRPC QuetzalShip
  grpc-server:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: quetzalship-grpc
    ports:
      - "50051:50051"
    networks:
      - quetzalship-network
    restart: unless-stopped

networks:
  quetzalship-network:
    driver: bridge
